.hero{
    
    background:url("background.png") center center no-repeat fixed;
    background-position:cover;
    
}

#title{
    font-family: 'Nobile', sans-serif;
   color:white;
    width:50%;
    height: 50%;
    left: 5%;
    top: 15%;
    margin-top:1%;
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
    line-height:65%;
    display: flex;
    align-items: center;
    
}

.itemcolor{
    color:white;
    font-size:130%;
   
    font-family: 'Noto Sans', sans-serif;
}

.nav-item{
    font-family: 'Noto Sans', sans-serif;
    padding-right:50px;

}


.con1{
    
   margin-left:27%;
   margin-top:14%;
   margin-bottom:30%;
   
}
.htext1{ 
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    font-size: 300%;
    line-height:100%;
    margin-top:2%;
    margin-bottom:0px;
    text-align: left;
    }

    .htext2{
        line-height:75%;
        color:white;
         padding-top: 13px;
         font-family: 'Noto Sans', sans-serif;
         font-style:normal;
         font-size: 150%;
         margin-bottom:0px;
         text-align: left;  
     }

     .himg{
        margin-top:10%;
    }

    .rectangle {
    
        height: 31px;
        width: 162px;
        background-color:black;
        margin-right: 73px;
        margin-top:83px;
        margin-bottom:115px;
    
       
      }
      .rec{
          display: flex;
          justify-content:space-around;
          margin-left:45px;   
      }

   
      @media screen and (max-width: 1060px) {
          .con1{
            margin-left:0%;
            margin-top:12%;
            margin-bottom:30%; 
          }
    
          .htext2{
              font-size: 115%;
              line-height:90%;
          }
    
      }

      @media screen and (max-width: 768px){
          .htext1{
              font-size: 240%;
          }
          .htext2{
              font-size:130%;
          }
          
      }

      .title2{
        font-family: 'Noto Sans', sans-serif;
        letter-spacing:5px;
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 350%;    
        align-items: center;
        text-align: center;
        margin-top:-8px;
        color: #000000;  
      }
      .ptext1{
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 150%;
        line-height: 100%;
        text-align: center;
    }

    .ptext2{
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 150%;
        line-height: 100%;
        text-align: center;  
    }
      .pimg{
        width:100%;
        height:100%;
        padding:5%;
        border:2px solid black;
        background: #FFFFFF;
      }
      .pgrid{
          margin-top:10%;
      }

     
    
      hr{
          width:60%;
          background-color:black;
      }